<div class = "container">
	<h1>Demo Title</h1>
	<div class = "row">

		<div class = "span8">
			<div class = "hero-unit">

			<%= "S T E P 5" %>

			</div>
		</div>

		<%= render :partial => "pages/step-nav"%>

	</div>

</div>