<html><head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=8">
<title>Created by BCL easyConverter SDK 3 (HTML Version)</title>
<meta name="generator" content="BCL easyConverter SDK 3.0.60">
<style type="text/css">

body {margin-top: 0px;margin-left: 0px;}

#page_1 {position:relative; overflow: hidden;margin: 21px 0px 75px 46px;padding: 0px;border: none;width: 770px;}

#page_1 #dimg1 {position:absolute;top:190px;left:0px;z-index:-1;width:723px;height:751px;}
#page_1 #dimg1 #img1 {width:723px;height:751px;}




.ft0{font: bold 24px 'Times New Roman';line-height: 26px;}
.ft1{font: 13px 'Times New Roman';line-height: 15px;}
.ft2{font: bold 16px 'Times New Roman';line-height: 18px;}
.ft3{font: bold 13px 'Times New Roman';line-height: 15px;}
.ft4{font: 1px 'Times New Roman';line-height: 1px;}
.ft5{font: 1px 'Times New Roman';line-height: 2px;}
.ft6{font: 14px 'Times New Roman';line-height: 15px;}
.ft7{font: bold 14px 'Times New Roman';line-height: 15px;}
.ft8{font: 14px 'Times New Roman';line-height: 16px;}
.ft9{font: bold 14px 'Times New Roman';line-height: 16px;}
.ft10{font: italic 13px 'Times New Roman';line-height: 15px;}
.ft11{font: bold 16px 'Times New Roman';line-height: 19px;}
.ft12{font: 8px 'Wingdings';line-height: 9px;}
.ft13{font: 13px 'Times New Roman';margin-left: 32px;line-height: 15px;}
.ft14{font: bold 13px 'Times New Roman';line-height: 14px;}
.ft15{font: 13px 'Times New Roman';line-height: 14px;}
.ft16{font: italic bold 13px 'Times New Roman';line-height: 15px;}
.ft17{font: 9px 'Times New Roman';line-height: 12px;position: relative; bottom: 6px;}
.ft18{font: italic 9px 'Times New Roman';line-height: 10px;position: relative; bottom: 6px;}

.p0{text-align: left;padding-left: 321px;margin-top: 0px;margin-bottom: 0px;}
.p1{text-align: left;padding-left: 2px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p2{text-align: right;padding-right: 2px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p3{text-align: left;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p4{text-align: left;padding-left: 14px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p5{text-align: left;padding-left: 2px;margin-top: 4px;margin-bottom: 0px;}
.p6{text-align: justify;padding-left: 40px;margin-top: 4px;margin-bottom: 0px;}
.p7{text-align: justify;padding-left: 40px;margin-top: 0px;margin-bottom: 0px;}
.p8{text-align: justify;padding-left: 40px;margin-top: 1px;margin-bottom: 0px;}
.p9{text-align: left;padding-left: 2px;margin-top: 6px;margin-bottom: 0px;}
.p10{text-align: right;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p11{text-align: left;padding-left: 14px;margin-top: 3px;margin-bottom: 0px;}
.p12{text-align: left;padding-left: 2px;margin-top: 3px;margin-bottom: 0px;}
.p13{text-align: left;padding-left: 14px;margin-top: 5px;margin-bottom: 0px;}

.td0{padding: 0px;margin: 0px;width: 597px;vertical-align: bottom;}
.td1{padding: 0px;margin: 0px;width: 126px;vertical-align: bottom;}
.td2{border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 597px;vertical-align: bottom;}
.td3{border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 126px;vertical-align: bottom;}
.td4{padding: 0px;margin: 0px;width: 611px;vertical-align: bottom;}
.td5{padding: 0px;margin: 0px;width: 96px;vertical-align: bottom;}
.td6{padding: 0px;margin: 0px;width: 601px;vertical-align: bottom;}
.td7{padding: 0px;margin: 0px;width: 106px;vertical-align: bottom;}
.td8{padding: 0px;margin: 0px;width: 603px;vertical-align: bottom;}
.td9{padding: 0px;margin: 0px;width: 104px;vertical-align: bottom;}
.td10{padding: 0px;margin: 0px;width: 607px;vertical-align: bottom;}
.td11{padding: 0px;margin: 0px;width: 100px;vertical-align: bottom;}
.td12{padding: 0px;margin: 0px;width: 599px;vertical-align: bottom;}
.td13{padding: 0px;margin: 0px;width: 108px;vertical-align: bottom;}
.td14{padding: 0px;margin: 0px;width: 600px;vertical-align: bottom;}
.td15{padding: 0px;margin: 0px;width: 107px;vertical-align: bottom;}
.td16{padding: 0px;margin: 0px;width: 608px;vertical-align: bottom;}
.td17{padding: 0px;margin: 0px;width: 99px;vertical-align: bottom;}
.td18{padding: 0px;margin: 0px;width: 604px;vertical-align: bottom;}
.td19{padding: 0px;margin: 0px;width: 103px;vertical-align: bottom;}

.tr0{height: 15px;}
.tr1{height: 23px;}
.tr2{height: 2px;}
.tr3{height: 18px;}
.tr4{height: 16px;}
.tr5{height: 19px;}
.tr6{height: 17px;}

.t0{width: 723px;font: 13px 'Times New Roman';}
.t1{width: 707px;margin-left: 14px;margin-top: 4px;font: 13px 'Times New Roman';}
.t2{width: 707px;margin-left: 14px;margin-top: 3px;font: 13px 'Times New Roman';}
.t3{width: 707px;margin-left: 14px;margin-top: 2px;font: 13px 'Times New Roman';}
.t4{width: 707px;margin-left: 14px;margin-top: 3px;font: 13px 'Times New Roman';}
.t5{width: 707px;margin-left: 14px;margin-top: 4px;font: bold 13px 'Times New Roman';}

</style>
</head>

<body>
<div id="page_1">
<!--	
	<div id="dimg1">
	<img src="resume-soft_images/resume-soft1x1.jpg" id="img1">
	</div>
-->

<p class="p0 ft0">Qidi He</p>
<table cellpadding="0" cellspacing="0" class="t0">
<tbody><tr>
	<td class="tr0 td0"><p class="p1 ft1">500 Riverside Dr. Apt #435</p></td>
	<td class="tr0 td1"><p class="p2 ft1">qh2130@columbia.edu</p></td>
</tr>
<tr>
	<td class="tr0 td0"><p class="p1 ft1">New York, NY 10027</p></td>
	<td class="tr0 td1"><p class="p2 ft1"><nobr>(718)568-4687</nobr></p></td>
</tr>
<tr>
	<td class="tr1 td0"><p class="p1 ft3"><span class="ft2">E</span>DUCATION</p></td>
	<td class="tr1 td1"><p class="p3 ft4">&nbsp;</p></td>
</tr>
<tr>
	<td class="tr2 td2"><p class="p3 ft5">&nbsp;</p></td>
	<td class="tr2 td3"><p class="p3 ft5">&nbsp;</p></td>
</tr>
<tr>
	<td class="tr3 td0"><p class="p4 ft7">Columbia University<span class="ft6">, New York, NY</span></p></td>
	<td class="tr3 td1"><p class="p3 ft4">&nbsp;</p></td>
</tr>
<tr>
	<td class="tr4 td0"><p class="p4 ft1">Master of Science in Mechanical Engineering, Control Systems track, GPA 3.5/4.0</p></td>
	<td class="tr4 td1"><p class="p2 ft1">Feb 2013</p></td>
</tr>
<tr>
	<td class="tr5 td0"><p class="p4 ft9">Sun <nobr>Yat-sen</nobr> University<span class="ft8">, Guangzhou, China</span></p></td>
	<td class="tr5 td1"><p class="p3 ft4">&nbsp;</p></td>
</tr>
<tr>
	<td class="tr0 td0"><p class="p4 ft1">Bachelor of Engineering in Traffic Engineering, Vehicle Design and Manufacturing track, GPA 3.5/4.0</p></td>
	<td class="tr0 td1"><p class="p2 ft1">Jun 2011</p></td>
</tr>
<tr>
	<td class="tr3 td0"><p class="p4 ft10"><nobr><span class="ft1">2008-2010,</span></nobr><span class="ft1"> </span>Sun <nobr>Yat-sen</nobr> University Excellent Student Scholarship</p></td>
	<td class="tr3 td1"><p class="p3 ft4">&nbsp;</p></td>
</tr>
</tbody></table>
<p class="p5 ft3"><span class="ft11">E</span>XPERTISE AND <span class="ft11">S</span>KILLS</p>
<p class="p6 ft1"><span class="ft12"></span><span class="ft13">Languages: C/C++, C#, Ruby, HTML, CSS, SQL, Javascript, OpenGL/GLUT, Assembly Language</span></p>
<p class="p7 ft1"><span class="ft12"></span><span class="ft13">Programming: Ruby on Rails, Microsoft Visual Studio, MATLAB/Simulink, LabVIEW, Eclipse</span></p>
<p class="p8 ft1"><span class="ft12"></span><span class="ft13">Embedded System Development: MPLAB, Proteus, CodeWarrior, CodeVisionAVR, Keil C51</span></p>
<p class="p7 ft1"><span class="ft12"></span><span class="ft13">Computer Aided Design: AutoCAD, Pro/Engineer, SolidWorks</span></p>
<p class="p7 ft1"><span class="ft12"></span><span class="ft13">Microsoft Word, Excel, PowerPoint</span></p>
<p class="p9 ft3"><span class="ft11">W</span>ORK <span class="ft11">E</span>XPERIENCE</p>
<table cellpadding="0" cellspacing="0" class="t1">
<tbody><tr>
	<td class="tr0 td4"><p class="p3 ft14">DeedCast, Inc.</p></td>
	<td class="tr0 td5"><p class="p10 ft1">New York, NY</p></td>
</tr>
<tr>
	<td class="tr4 td4"><p class="p3 ft10">Web Developer, Intern</p></td>
	<td class="tr4 td5"><p class="p10 ft1">Mar <nobr>2013-Present</nobr></p></td>
</tr>
</tbody></table>
<p class="p7 ft1"><span class="ft12"></span><span class="ft13">Contribute to develop a web platform connecting service agents, sellers and buyers in real estate market</span></p>
<p class="p7 ft1"><span class="ft12"></span><span class="ft13">Manage and support Ruby on Rails application for www.feewise.com</span></p>
<table cellpadding="0" cellspacing="0" class="t2">
<tbody><tr>
	<td class="tr0 td6"><p class="p3 ft3">Nanhai Construction Co., Ltd.</p></td>
	<td class="tr0 td7"><p class="p10 ft15">Foshan, China</p></td>
</tr>
<tr>
	<td class="tr4 td6"><p class="p3 ft10">Field Engineer, Intern</p></td>
	<td class="tr4 td7"><p class="p10 ft1">Jun <nobr>2012-Aug</nobr> 2012</p></td>
</tr>
</tbody></table>
<p class="p7 ft1"><span class="ft12"></span><span class="ft13">Reviewed contracts and drawings, ensured that construction work conformed with design specifications</span></p>
<p class="p8 ft1"><span class="ft12"></span><span class="ft13">Performed accurate quantity surveys and cost estimates and reported to project manager</span></p>
<table cellpadding="0" cellspacing="0" class="t3">
<tbody><tr>
	<td class="tr0 td8"><p class="p3 ft3">Sun <nobr>Yat-sen</nobr> University School of Engineering</p></td>
	<td class="tr0 td9"><p class="p10 ft1">Guangzhou, China</p></td>
</tr>
<tr>
	<td class="tr6 td8"><p class="p3 ft10">Research Assistant, Teaching Assistant</p></td>
	<td class="tr6 td9"><p class="p10 ft1">Jul <nobr>2009-May</nobr> 2011</p></td>
</tr>
</tbody></table>
<p class="p7 ft1"><span class="ft12"></span><span class="ft13">Conducted research in simulation and evaluation of electric vehicle performance and developed its commercial software</span></p>
<p class="p7 ft1"><span class="ft12"></span><span class="ft13">Graded coursework of </span><span class="ft10">Engineering Drawing </span>class for 103 students</p>
<table cellpadding="0" cellspacing="0" class="t4">
<tbody><tr>
	<td class="tr0 td10"><p class="p3 ft3">The Auto Channel of 3G.cn</p></td>
	<td class="tr0 td11"><p class="p10 ft1">Guangzhou, China</p></td>
</tr>
<tr>
	<td class="tr4 td10"><p class="p3 ft10">Editor, Intern</p></td>
	<td class="tr4 td11"><p class="p10 ft1">Jul <nobr>2010-Oct</nobr> 2010</p></td>
</tr>
</tbody></table>
<p class="p7 ft1"><span class="ft12"></span><span class="ft13">Conducted new cars tests with detailed inspections and reports</span></p>
<p class="p7 ft1"><span class="ft12"></span><span class="ft13">Authored and edited auto articles and news, oversaw the classic cars special column</span></p>
<p class="p9 ft3"><span class="ft11">S</span>ELECTED <span class="ft11">S</span>OFTWARE <span class="ft11">P</span>ROJECTS</p>
<p class="p11 ft3">Augmented Reality Windows Phone Game <span class="ft16">Flying Hippos </span><span class="ft1">Jan </span><nobr><span class="ft1">2012-May</span></nobr><span class="ft1"> 2012</span></p>
<p class="p8 ft1"><span class="ft12"></span><span class="ft13">Applied augmented reality technology to a game design with 2D gestures and 3D markers by touchscreen and camera</span></p>
<p class="p8 ft1"><span class="ft12"></span><span class="ft13">Programmed game application on Windows 7 and Windows Phone 7.5 in C# by using Microsoft XNA Game Studio</span></p>
<table cellpadding="0" cellspacing="0" class="t5">
<tbody><tr>
	<td class="tr4 td12"><p class="p3 ft14">Electric Vehicle Motor <nobr>Hardware-in-the-loop</nobr> Test System</p></td>
	<td class="tr4 td13"><p class="p3 ft1">Sep <nobr>2010-May</nobr> 2011</p></td>
</tr>
</tbody></table>
<p class="p7 ft1"><span class="ft12"></span><span class="ft13">Configured communications of motor inverter and instruments, including Modbus serial, GPIB and analog signals</span></p>
<p class="p7 ft1"><span class="ft12"></span><span class="ft13">Developed software of test system in C++ to implement motor torque and speed control, data acquisition and processing</span></p>
<table cellpadding="0" cellspacing="0" class="t4">
<tbody><tr>
	<td class="tr4 td14"><p class="p3 ft14">Campus Bus Virtual Driving Simulator</p></td>
	<td class="tr4 td15"><p class="p3 ft1">Nov <nobr>2009-Sep</nobr> 2010</p></td>
</tr>
</tbody></table>
<p class="p7 ft1"><span class="ft12"></span><span class="ft13">Created virtual campus environment and used Presagis Vega Prime to implement virtual reality visualization</span></p>
<p class="p7 ft1"><span class="ft12"></span><span class="ft13">Established dynamics model, developed a </span><nobr>real-time</nobr> driving simulator with steering wheel and pedals controller in C++</p>
<table cellpadding="0" cellspacing="0" class="t4">
<tbody><tr>
	<td class="tr4 td10"><p class="p3 ft3"><nobr>Camera-based</nobr> Path Following Autonomous Car</p></td>
	<td class="tr4 td11"><p class="p3 ft1">Feb <nobr>2010-Jul</nobr> 2010</p></td>
</tr>
</tbody></table>
<p class="p7 ft1"><span class="ft12"></span><span class="ft13">Developed </span><nobr>real-time</nobr> algorithms for a digital camera to track the black path</p>
<p class="p7 ft1"><span class="ft12"></span><span class="ft13">Designed steering control strategy and PID controller for speed control, programmed on microcontroller in C</span></p>
<table cellpadding="0" cellspacing="0" class="t4">
<tbody><tr>
	<td class="tr4 td16"><p class="p3 ft3">Previous Process of Point Cloud Data</p></td>
	<td class="tr4 td17"><p class="p3 ft1">Jul <nobr>2009-Oct</nobr> 2009</p></td>
</tr>
</tbody></table>
<p class="p7 ft1"><span class="ft12"></span><span class="ft13">Reinvented algorithms for point cloud data visualization, filtering, interpolation, and simplification</span></p>
<p class="p7 ft1"><span class="ft12"></span><span class="ft13">Programmed software package in C++ and OpenGL, evaluated the efficiency and optimized the code</span></p>
<p class="p9 ft3"><span class="ft11">H</span>ONORS AND <span class="ft11">A</span>WARDS</p>
<table cellpadding="0" cellspacing="0" class="t4">
<tbody><tr>
	<td class="tr0 td18"><p class="p3 ft1">New York International House Toyota Motor Corporation Scholarship</p></td>
	<td class="tr0 td19"><p class="p10 ft1">Spring &amp; Fall 2012</p></td>
</tr>
<tr>
	<td class="tr0 td18"><p class="p3 ft1">The 5<span class="ft17">th </span>Freescale National Smart Car Competition, Southern China, <span class="ft10">2</span><span class="ft18">nd </span><span class="ft10">Prize</span></p></td>
	<td class="tr0 td19"><p class="p10 ft1">Jul 2010</p></td>
</tr>
<tr>
	<td class="tr4 td18"><p class="p3 ft1">The 3<span class="ft17">rd </span>City of Guangzhou Automobile Knowledge Competition, <span class="ft10">2</span><span class="ft18">nd </span><span class="ft10">Place</span></p></td>
	<td class="tr4 td19"><p class="p10 ft1">Oct 2008</p></td>
</tr>
<tr>
	<td class="tr3 td18"><p class="p3 ft1">Sun <nobr>Yat-sen</nobr> University Automobile Knowledge Competition, <span class="ft10">1</span><span class="ft18">st </span><span class="ft10">Place</span></p></td>
	<td class="tr3 td19"><p class="p10 ft1">Nov 2008</p></td>
</tr>
</tbody></table>
<p class="p12 ft3"><span class="ft11">L</span>ANGUAGE <span class="ft11">S</span>KILLS</p>
<p class="p13 ft1">Fluent in spoken and written Mandarin and Cantonese (native languages)</p>
</div>
<div style="padding:50px 0 15px 0;"><a href="http://www.pdfonline.com/convert-pdf-to-html/" style="padding:10;font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#666; border-top:solid medium #CCC">Convert PDF to HTML</a></div>

</body></html>